{% extends 'lesson_base.html' %}

{% block head %} {% endblock %}
<!--Title of the Topic-->
{% block title %}Forecasting{% endblock %}

<!--Definition of the Topic-->
{% block def %}
Forecasting is the process of making predictions of the future based on past and present data and most
commonly by analysis of trends. A commonplace example might be estimation of some variable of interest at some specified
future date. Prediction is a similar, but more general term.
{% endblock %}

{% block example %}
<h4>Applications of Forecasting</h4>

<p>List of Examples</p>
<ol>
    <li>Example 1</li>
    <li>Example 2</li>
    <li>Example 3</li>
</ol>

{% endblock %}

{% block try %} {% endblock %}