{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock head %}

{% block body %}
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>What is Decision Science?</h1>
        <p>Decision Sciences programs focus on powerful quantitative methodologies such as forecasting, data mining, machine learning, optimization, and simulation, and their application to business problems to support managers' decisions.</p>
        <p>The Decision Sciences concentration provides students with the skills necessary to analyze and solve practical business problems. Concentration courses allow students to acquire competence in decision making through the use of professional business software, such as spreadsheet, forecasting, and simulation packages. By selecting appropriate electives, students can prepare for a career using decision sciences in computer information systems, finance, operations, marketing, design and industry, accounting, international business, general management, or other areas within industry or government.</p>
        <p>
          <a class="btn btn-primary" href="../../components/navbar/" role="button">Learn &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock body %}