{% extends 'lesson_base.html' %}

{% block head %} {% endblock %}
<!--Title of the Topic-->
{% block title %}Inventory Management{% endblock %}

<!--Definition of the Topic-->
{% block def %}
Inventory or stock is the goods and materials that a business holds for the ultimate goal of resale. Inventory
management is a discipline primarily about specifying the shape and placement of stocked goods.
{% endblock %}

{% block example %}
<p>Examples of Inventory Management</p>




{% endblock %}

{% block try %} {% endblock %}