{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

<title>Linear Programming</title>
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/blog/">

<!-- Bootstrap core CSS -->

<!-- Custom styles for this template -->
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
{% endblock %}
{% block body %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">

            <div class="blog-post">
                <br>
                <h2 class="blog-post-title">Linear Programming</h2>

                <p>Linear programming is a method to achieve the best outcome in a mathematical model whose requirements
                    are
                    represented by linear relationships. Linear programming is a special case of mathematical
                    programming.</p>
                <hr>
                <p>Examples of situations Linear Programming can be used in:</p>
                <ul>
                    <li>Resource Allocation: <p class='font-italic'>“Given we have a limited supply of X, how
                            do we divvy it to realize the most profit?”</p>
                    </li>
                    <li>Logistics: <p class='font-italic'>“How do we deliver our contracted amounts while
                            keeping our distribution costs as low as possible?”</p>
                    </li>
                    </li>
                    <li>Investment Planning: <p class='font-italic'>“How do we select our portfolio to
                            maximize returns while keeping risk to an acceptable level?”</p>
                    </li>
                    </li>
                </ul>
                <hr>
                <h3 id="linear_programming_assumptions">Linear Programming Assumptions</h3>
                <p>Linearity: the impact of decision variables is linear in
                    both constraints and objective function.</p>
                <p>Divisibility: non-integer values of decision variables are
                    acceptable.</p>
                <p>Certainty: values of parameters are known and constant.
                    (within the scope of the problem)</p>
                <p>Non-negativity: negative values of decision variables are
                    not allowed</p>
                <h3 id="steps_of_linear_programming">Steps of Linear Programming</h3>
                <ol type="1">
                    <li>Model Formulation</li>
                    <li>Solving the LP</li>
                    <li>Studying the Results: Output Reports and
                        Sensitivity Analysis</li>
                </ol>
                <hr>
                <h3>Model Formulation</h3>
                <h4>Steps for model formulation</h4>
                <ol>
                    <li>Determine the decision variables.</li>
                    <li>Identify the objective: Minimize or Maximize?</li>
                    <li>Express constraints in terms of the decision variables</li>
                </ol>
                <hr>
                <h3>Example</h3>
                <h4>Product Mix Example</h4>
                <h3>Formula</h3>
                <p class="text-center">Q<sub>BEP</sub>=FC/(p-v)</p>


            </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->
        <br>
        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <br>
                <h4 class="font-italic">Key Terms</h4>
                <ul class="list-unstyled">
                    <li><a tabindex="0" role="button" class="btn popovers" data-toggle="popover" data-placement="top"
                            data-trigger="focus" title="" data-content="Techniques consist of a
                            sequence of steps that will lead to an optimal solution to
                            problems, in cases where a solution exists, given
                            restrictions or limitations." data-original-title="Linear Programming">Linear
                            Programming</a></li>
                    </li>
                    <li><a tabindex="0" role="button" class="btn popovers" data-toggle="popover" data-placement="top"
                            data-trigger="focus" title=""
                            data-content="test content <a href='' title='test add link'>link on content</a>"
                            data-original-title="test title">Objective Function</a></li>
                    </li>
                    <li><a tabindex="0" role="button" class="btn popovers" data-toggle="popover" data-placement="top"
                            data-trigger="focus" title=""
                            data-content="test content <a href='' title='test add link'>link on content</a>"
                            data-original-title="test title">Decision variables</a></li>
                    </li>
                    <li><a tabindex="0" role="button" class="btn popovers" data-toggle="popover" data-placement="top"
                            data-trigger="focus" title=""
                            data-content="test content <a href='' title='test add link'>link on content</a>"
                            data-original-title="test title">Parameters</a></li>
                    </li>
                    <li><a tabindex="0" role="button" class="btn popovers" data-toggle="popover" data-placement="top"
                            data-trigger="focus" title=""
                            data-content="test content <a href='' title='test add link'>link on content</a>"
                            data-original-title="test title">Constraints</a></li>
                    </li>
                    <li><a tabindex="0" role="button" class="btn popovers" data-toggle="popover" data-placement="top"
                            data-trigger="focus" title=""
                            data-content="test content <a href='' title='test add link'>link on content</a>"
                            data-original-title="test title">Feasible solution space</a></li>
                    </li>
                    <li><a tabindex="0" role="button" class="btn popovers" data-toggle="popover" data-placement="top"
                            data-trigger="focus" title=""
                            data-content="test content <a href='' title='test add link'>link on content</a>"
                            data-original-title="test title">Optimal Solution</a></li>
                    </li>
                </ul>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Sections</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#linear_programming_assumptions">Linear Programming Assumptions</a></li>
                    <li><a href="#steps_of_linear_programming">Steps of Linear Programming</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer">
    <p>Test Build</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

{% endblock %}