{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Operations Management</h1>
        <p>Operations management is the administration of business practices to create the highest level of efficiency
            possible within an organization. It is concerned with converting materials and labor into goods and services
            as efficiently as possible to maximize the profit of an organization. Operations management teams attempt to
            balance costs with revenue to achieve the highest net operating profit possible.</p>
        <p>Operations management involves utilizing resources from staff, materials, equipment, and technology.
            Operations managers acquire, develop, and deliver goods to clients based on client needs and the abilities
            of the company. Operations management handles various strategic issues, including determining the size of
            manufacturing plants and project management methods and implementing the structure of information technology
            networks. Other operational issues include the management of inventory levels, including work-in-process
            levels and raw materials acquisition, quality control, materials handling, and maintenance policies.
            Operations management entails studying the use of raw materials and ensuring minimal waste occurs.
            Operations managers utilize numerous formulas, such as the economic order quantity formula to determine when
            and how large of an inventory order to process and how much inventory to hold on hand.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Start Learning! &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Capacity Planning and Decision Theory</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">Go to Lesson &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Linear Programming</h2>
            <p>Linear programming is a method to achieve the best outcome in a mathematical model whose requirements are
                represented by linear relationships. Linear programming is a special case of mathematical programming.
            </p>
            <p><a class="btn btn-secondary" href="/linear_programming" role="button">Go to Lesson &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Forecasting</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Go to Lesson &raquo;</a></p>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Quality Management</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                        magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">Go to Lesson &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Project Management</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                        magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">Go to Lesson &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Inventory Management</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                        ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">Go to Lesson &raquo;</a></p>
                </div>
            </div>
        </div>

        <hr>

    </div>
    {% endblock %}