{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-5">Operations Management</h1>
        <p>Operations management is the administration of business practices to create the highest level of efficiency
            possible within an organization. It is concerned with converting materials and labor into goods and services
            as efficiently as possible to maximize the profit of an organization. Operations management teams attempt to
            balance costs with revenue to achieve the highest net operating profit possible.</p>
        <p>Operations management involves utilizing resources from staff, materials, equipment, and technology.
            Operations managers acquire, develop, and deliver goods to clients based on client needs and the abilities
            of the company. Operations management handles various strategic issues, including determining the size of
            manufacturing plants and project management methods and implementing the structure of information technology
            networks. Other operational issues include the management of inventory levels, including work-in-process
            levels and raw materials acquisition, quality control, materials handling, and maintenance policies.
            Operations management entails studying the use of raw materials and ensuring minimal waste occurs.
            Operations managers utilize numerous formulas, such as the economic order quantity formula to determine when
            and how large of an inventory order to process and how much inventory to hold on hand.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Start Learning! &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Capacity Planning</h2>
            <p>Capacity planning is the process of determining the production capacity needed by an organization to meet
                changing demands for its products. In the context of capacity planning, design capacity is the maximum
                amount of work that an organization is capable of completing in a given period. </p>
            <p><a class="btn btn-primary" href="#" role="button">Go to Lesson &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Linear Programming</h2>
            <p>Linear programming is a method to achieve the best outcome in a mathematical model whose requirements are
                represented by linear relationships. Linear programming is a special case of mathematical programming.
            </p>
            <p><a class="btn btn-primary" href="/linear_programming" role="button">Go to Lesson &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Forecasting</h2>
            <p>Forecasting is the process of making predictions of the future based on past and present data and most
                commonly by analysis of trends. A commonplace example might be estimation of some variable of interest
                at some specified future date. Prediction is a similar, but more general term.</p>
            <p><a class="btn btn-primary" href="#" role="button">Go to Lesson &raquo;</a></p>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Quality Management</h2>
                    <p>Quality management ensures that an organization, product or service is consistent. It has four
                        main components: quality planning, quality assurance, quality control and quality improvement.
                        Quality management is focused not only on product and service quality, but also on the means to
                        achieve it. </p>
                    <p><a class="btn btn-primary" href="#" role="button">Go to Lesson &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Project Management</h2>
                    <p>Project management is the practice of leading the work of a team to achieve goals and meet
                        success criteria at a specified time. The primary challenge of project management is to achieve
                        all of the project goals within the given constraints. </p>
                    <p><a class="btn btn-primary" href="#" role="button">Go to Lesson &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Inventory Management</h2>
                    <p>Inventory or stock is the goods and materials that a business holds for the ultimate goal of
                        resale. Inventory management is a discipline primarily about specifying the shape and placement
                        of stocked goods.</p>
                    <p><a class="btn btn-primary" href="#" role="button">Go to Lesson &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Decision Theory</h2>
                    <p>Decision theory is the mathematical study of strategies for optimal decision-making between options
                        involving different risks or expectations of gain or loss depending on the outcome.</p>
                    <p><a class="btn btn-primary" href="#" role="button">Go to Lesson &raquo;</a></p>
                </div>
            </div>
            </div>

        <hr>

    </div>
    {% endblock %}