{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<br>
<h3>Multiple Choice Example</h3>
<p>Bob’s AvocadoLuv Foodtruck is selling three different types of burgers:</p>
<ul>
    <li>The Wagyu Avocado Cheeseburger (CB) which sells for $4.00</li>
    <li>The Garden Avocado Cheeseburger (GAB) which sells for $5.00</li>
    <li>The Garden-Avocado Burger w/caramelized onions and mushrooms (MB) which sells for $7.00</li>
</ul>
<p>Bob’s truck has finite amount of some supplies and ingredients. The table below shows the supplies and ingredients
    needed for each burger. He’s also promised to make at least 2 (two) CB and 1 (one) GAB burger Assume he can sell all
    the burgers he makes.</p>
<form>
    <div>
        <p>What is the objective function in terms of the variables (V1, V2, etc…) and the objective coefficients?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Answer 1
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Answer 2
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Answer 3
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Answer 4
            </label>
        </div>
    </div>
</form>
<br>
<h3>Fill in the blanks</h3>
{% endblock %}